
/* color scheme sourced from http://khroma.co/generator/  */
*{ box-sizing: border-box;
    padding: 0;
    margin:0 ;
}
html,
body{
    height: 100%;
}

body{
 /* background-image: linear-gradient(
         rgba( 34,151,253) 0,
        rgba(71,71,77) 100%  
    );  */

    background-color:rgb(10, 110, 210) ; /*deep koamaru */
    color: white; /* cornflower blue
    tequila*/

}

header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
    background-color: rgb(21,27,129);



    /* flex-wrap: wrap; */
    /* align-items: center; */
}
h1{
  /* position: fixed; */
  margin: 0;
}

.tab{
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    font-size: 1.5rem;
}
.tab li{
    margin-left: 1rem;
    padding: 0 2rem;
    border: black solid .3rem;
    border-radius: .5rem;
    background-color: rgba(10, 110, 210, 0.44);
}

.tab li:first-child{
    margin-left: 0;
}

.tab li.inline{
    display: inline;
}

main{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

h2{ 
    text-align: left;
}

.content{
    width: 100%;
    max-width: 80rem;
    margin-top: 2rem;
    padding: 10px;
    border: 1px solid black;
}


.dog_human{
    margin-top: 4rem;
    width: 70%;
    border-radius: 1rem;
    height: auto;
    border: solid gray 2px;
}



.about{
    text-align: center;
    overflow: auto;
}
.compact-box {
    text-align: left;
    padding: 0 -10rem;
    border-radius: 5px;
    margin-top: 20px;
    width: 50rem;
    background-color: 
        rgb(116,173,204);
  }

  .new {
    box-sizing: border-box;
    width: 100%;
    max-width: 80rem;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1rem;
  }
  
 

/*.contact{
    text-align: right;
        text-decoration: none;
}
.contact ul{
    list-style: none;
}


a{ 
    text-decoration: none;
    color: white;
}
header nav ul> li{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.3rem;
}*/